mixin  contact()
  .c-contact#contacts
    .c-contact__wrapper 
      .c-contact__image-box 
        img(src="./../../assets/svg/contact.svg" alt="Image").c-contact__image
      .c-contact__block 
        h2.c-contact__title Contact Us
        p.c-contact__desc  Discover your current English level by taking our free online English test.Sign up to our newsletter for learning tips and free resources
        .c-contact__form
          +form()