mixin footer()
  footer.c-footer 
    .c-footer__wrapper 
      +logo()
      .c-footer__items 
        ul.c-footer__list 
          li.c-footer__item
            a(href="#").c-footer__link Terms and Conditions
          li.c-footer__item
            a(href="#").c-footer__link Privacy Policy 
          li.c-footer__item
            a(href="#").c-footer__link Cookie Policy 