include ./header
include ./navigation
include ./learning
include ./skills
include ./card
include ./about-us
include ./pricing
include ./card-cost
include ./contact
include ./form
include ./footer
