mixin learning()
  .c-learning 
    .c-learning__wrapper
      .c-learning__block
        h1.c-learning__title  Learn 
          br
          | Any Foreign 
          br
          |Language
        p.c-learning__text With our teachers who write a program for each student, you will be able to make your first sketch after the first lesson.
        .c-learning__button-block
          +button('button','Get started', 'e-button--big')
      .c-learning__image-box
        img(src="./../../assets/svg/Learning-languages-bro.png" alt="Learning-languages").c-learning__image
