mixin navigation()
  nav.c-navigation
    ul.c-navigation__list
      li.c-navigation__item 
        a(href="#").c-navigation__link Home
      li.c-navigation__item 
        a(href="#skills").c-navigation__link Skills
      li.c-navigation__item 
        a(href="#about-us").c-navigation__link About Us
      li.c-navigation__item 
        a(href="#pricing").c-navigation__link Pricing
      li.c-navigation__item 
        a(href="#contacts").c-navigation__link Contacts