mixin pricing()
  .c-pricing#pricing
    .c-pricing__wrapper 
      .c-pricing__title Pricing
      .c-pricing__cards-box 
        +cardCost('./../../assets/svg/self-study.svg',
        'Self-study online course',
        'Start learning English online in live classes with qualified EC teachers and students from all over the world.',
        '£5.99')
        +cardCost('./../../assets/svg/live-classes.svg',
        'Live online classes',
        'Interactive group classes with expert teachers. Free 7-day trial',
        '£12.99')
        +cardCost('./../../assets/svg/personal-tutorial.svg',
        'Personal Tuition',
        'Online one-to-one English tutoring – enjoy our first session for only $1',
        '£20.99')