.c-about-us {
  margin-top: 250px;
  &__wrapper {
    @include maxCentered(1350, 20);
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  &__block {
    max-width: 635px;
  }
  &__title {
    line-height: 80px;
    font-weight: 600;
    font-size: 48px;
    &--t-color {
      color: $c-gunmetal2;
    }
  }
  &__text {
    color: $c-cool-grey;
    line-height: 30px;
    margin-top: 20px;
    font-size: 20px;
  }
  &__info {
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
  }
}
