.c-skills {
  &__wrapper {
    @include maxCentered(1350, 20);
  }
  &__title {
    text-align: center;
    line-height: 80px;
    margin-top: 160px;
    font-weight: 600;
    font-size: 48px;
  }
  &__cards-box {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-column-gap: 15px;
    margin-top: 90px;
    display: grid;
  }
}
